<% content_for :title do %>About<% end %>
<center><h2>Shiksha Plus IIT & Medical Academy</h2></center>

<h4>
  <b>Shiksha Plus IIT and Medical Academy</b> started in the year of 2013 by <b>Mrs Neha Kaur</b> and <b>Mr Kunal Sinha</b> with a purpose to provide meaningful and purposeful education among students across India.
  The urge of low cost and success oriented coaching institute gave rise to the birth of <b>Shiksha Plus IIT and Medical Academy</b>.
  <br><br>
  <b>Kunal Sinha, Director Shiksha Plus IIT and Medical Academy</b> believes that every kid is a special kid and there is always a special way to handle them.
  He believes that <b>any student</b> can give results provided if best practices and customized tradition can be followed.
  The academy students had shown excellent results in Medical and Engineering Entrance Examinations under his teaching and has reached in various prestigious institutes across India and Abroad.
  <br><br>
  Shiksha Plus believes learning should be fun and whole team works in the direction of Empowering Students to Fly High.
</h4>
